<%= javascript_tag do -%>
  $(document).ready(function() {
    var geo = new GeoLocator("#map", function (position) {
      $('#playing_longitude').val(position.coords.longitude)
      $('#playing_latitude').val(position.coords.latitude)
    }).locate();
  });
<% end -%>
<h1>New playing</h1>

<div class="row-fluid">
  <div class="well span6">
    <%= render 'form' %>
  </div>

  <div class="well span6">
    <div id="map"><%= image_tag "loading.gif" %></div>
  </div>
</div>

<%= link_to 'Back', playings_path %>
