<h1>New playing</h1>

<div class="row-fluid">
  <div class="well span6">
    <%= render 'form' %>
  </div>

  <div class="well span6">
    <div id="map-edit"><%= image_tag "loading.gif" %></div>
  </div>
</div>

<%= link_to 'Back', playings_path %>
