<header id="header" class="no-submenu" lang="en">
    <h1 class="text">playn.it</h1>
</header>

<div id="globalbox" class="layout-fullpage-simple">
    <article id="main"><div class="columns">
    <div lang="en" class="box box-fbox rcol">
        <h2><a href="mailto:i.am@playn.it">i.am@playn.it</a></h2>
        <!-- Social gaming checkins -->
    </div></div>
    </article>
</div>
