@font-face {
    font-family:"MuseoSlab500Regular";
    font-weight:400;
    font-style:"normal";
    src:url(../fonts/Museo_Slab_500-webfont.eot);
    src:url(../fonts/Museo_Slab_500-webfont.ttf) format('truetype');
}

body {
    font-weight: normal;
    font-style: normal;
    font: "MuseoSlab500Regular";
}
